html
  head
    title Ghost Coding Challenge
    style(type="text/css").
      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

      body {
        font-family: 'Inter', sans-serif;
        padding: 49px;
      }

      .member-avatar {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        padding-left: 12px;
        padding-right: 12px;
      }

      .comment-container {
        margin-bottom: 24px;
        display: flex;
        justify-content: center;
      }

      .member-name {
        display: inline;
        font-size: 13px;
        font-weight: 600px;

      }

      .comment-stats {
        font-size: 13px;
        font-weight: 400px;
        color: #4B587C;
      }

      .comment-text {
        font-size: 13px;
        width: 643px;
      }

      .comment-text-actions {
        display: flex;
        justify-content: flex-start;
      }

      .upvote-action-container {
        padding-right: 28px;
      }

      .upvote-action-controls {
        cursor: pointer;
        color: #4B587C;
        font-size: 11px;
      }

      .upvote-action-arrow {
        font-size: 8px;
        padding-right: 8px;
      }

      .reply-action {
        cursor: pointer;
        color: #4B587C;
        font-size: 11px;
      }

      .member-comment-container {
        display: flex;
        justify-content: center;
        padding-bottom: 44px;
        padding-top: 37px;
      }

      .member-comment-input {
        width: 542px;
        border: 1px solid #e5e5e5;
        border-radius: 4px;
        padding-left: 10px;
        padding-top: 6px;
        padding-bottom: 7px;
      }

      .member-comment-button {
        margin-left: 13px;
        color: white;
        background: #7E34F7;
        border-radius: 4px;
        border: none;
        width: 83px;
      }

      .member-comment-button:hover {
        background: #7430e3;
      }

      .member-comment-button:active {
        background: #5d25b8;
      }

      .comments-list-container {
        padding-top: 40px;
      }

      .hr {
        width: 680px;
        background-color: #e5e5e5;
        height: 1px;
        border: none;
      }
    script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
  body
    div(class='member-comment-container')
      img(src=member.avatar, alt=member.name class='member-avatar')
      input(class='member-comment-input' placeholder='What are your throughts?' data-member-comment-input)
      button(type='button' class='member-comment-button' data-member-comment-button) Comment
    hr(class='hr')
    div(class='comments-list-container')
      each comment in comments
        div(class='comment-container')
          img(src=comment.member.avatar, alt=comment.member.name class='member-avatar')
          div
            p(class='member-name') #{comment.member.name}・
              span(class='comment-stats') #{comment.createdAt}
            p(class='comment-text') #{comment.text}
            div(class='comment-text-actions')
              div(class='upvote-action-container' data-upvote-action data-comment-id=comment.id)
                div(class='upvote-action-controls')
                  span(class='upvote-action-arrow') ▲
                  span() Upvote
              div(class='reply-action')
                span Reply
  script const member = !{JSON.stringify(member)}
  script.
    $('[data-member-comment-button]').on('click', () => {
      const text = $('[data-member-comment-input]').val()
      $.post(`members/${member.id}/comments`, {
        text
      }).then(result => {
        $('[data-member-comment-input]').val('')
      })
    })

    $('[data-upvote-action]').on('click', () => {
      const commentId = $('[data-upvote-action]').attr('data-comment-id')
      $.post(`members/${member.id}/comments/${commentId}/upvote`)
    })

